@import "../partials/variables.scss";
@import "../partials/mixins.scss";

.header {
    background: $color3;
    position: relative;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.slides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.slides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.slides img {
    display: block;
    height: auto;
    border: 0;
}








