<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <h2>Hoi allemaal</h2>
                    <p>
                        Ik heb een ontzettend leuke en fijne tijd gehad met jullie bij F19 &amp; Facetbase.
                        De ene collega ken ik beter dan de andere maar ik wil jullie graag allemaal bedanken met een persoonlijk berichtje.
                        Ik heb jullie één voor één ge-mangaficeerd en jullie avatars staan hieronder weergegeven, op alfabetische volgorde.
                        Als je op een avatar klikt krijg je een detail pagina te zien met het persoonlijk berichtje.
                    </p>
                    <p>
                        Mocht je er voor open staan, dan zou ik het erg fijn vinden als je een recommendation op mijn <a class="icon--linkedin" href="https://nl.linkedin.com/in/petervangennip" target="_blank">LinkedIn profiel</a> wil schrijven. Je bent natuurlijk niets verplicht maar doe het toch maar gewoon <i class="fa fa-smile-o" aria-hidden="true"></i><br />
                    </p>
                    <p>
                        Dat was het dan, bedankt voor de mooie tijd en tot ziens!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> 